.signin{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.signin__content{
    padding: 10px;
   
}
.login__form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    .login__title{
        margin: auto;
        font-size: 20px;
    }
    .login__inp-cont{
        position: relative;
    }
    .login__inp-cont--input{
        width: 350px;
        height: 60px;
        border-radius: 6px;
        font-size: 18px;
        padding: 0 15px;
        border: 2px solid rgb(86, 86, 86);
        background-color: transparent  ;
        color: rgb(86, 86, 86);
        outline: none;
        
    }
    .login__inp-cont--label{
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 4px;
        transform: translateY(-13px) scale(0.9);
        color: rgb(86, 86, 86);
        font-size: 19px;
        pointer-events: none;
        transition: transform .5s, color .3s;
        background-color: white;
    }

    .login__inp-cont--input:focus + .login__inp-cont--label,
    .login__inp-cont--input:not(:placeholder-shown) + .login__inp-cont--label
    {
        background-color: rebeccapurple;
        transform: translateY(-12px) scale(0.7);
        transform-origin: top left;
    }

} 
.login__button{
    width: 200px;
    height: 40px;
    border: 2px solid  rgb(86, 86, 86);
    background-color: rgb(54, 10, 98);
    border-radius: 6px;
    cursor: pointer;
    &:hover{
        border: 3px solid  rgb(7, 7, 7);
        font-weight: bold;
    }
}
.login__have-acount{
    span{
        cursor: pointer;
        &:hover{
            font-weight: bold;
        }
    }
}
